body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;

}
.navbar-dark .bg-dark{
  background-color: #c7c6c254;
}

.nav-item {
  /* display: flex; */
  justify-content: space-between !important;
  font-size: 1.3em !important;
  padding: 0 3% !important;
}

.navbar-nav{
    padding-left: 1%;
}

.form-inline .form-control{
  width: 21rem;
}

.navbar-expand-xl .navbar-nav{
  flex-basis: 60%;
}

.navbar-brand{}